@keyframes pulse1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulse2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulse3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}
